body{
    margin: 15px;
}
#result{
    border: 1px solid black;
    width: 81%;
    font-size: 60px;
}
input[type="button"]{
    font-size: 70px;
    width: 20%;
}
.kalkulator{
    border: 2px solid black;
    padding: 5px;
    display: block;
    position: absolute center;
}